/* body contains the background image */
body{
	background-image: url("restaurant_icons.png");
}

/* .content will contain the bounds for child elements, set the fonts, and center/align the child elements */
.content{
	margin: 12% 15% 0 15% ;
	display:flex;
	flex-direction:column;
	align-items:center;
	font-family: Lato;

}

h2{
	margin-top: 0;
}

/* from accountAccess to createAccountButton:hover these selectors determine the styles for the intials buttons and their placements*/
#accountAccess{
	display: flex;
	justify-content:space-between;
	margin-bottom: 10px;

}

#createAccountButton{
	background-color: rgba(255, 61, 31, 0.60);
	padding: 13px 20px;
	display:inline-block;
	border-radius: 10%;
	cursor: default;
}

#loginButton{
	background-color: rgba(73, 146, 255, 0.80);
	margin-left: 8px;
	padding: 13px 25px;
	display: inline-block;
	border-radius: 10%;
	cursor: default;

}

#loginButton:hover{
	background-color: rgba(0, 102, 255, 0.80);
	font-size: 20px;
	-webkit-transition: 0.5s 0s;
}

#createAccountButton:hover{
	background-color: rgba(255, 32, 32, 0.78);
	font-size: 20px;
	-webkit-transition: 0.5s 0s;
}

/* from accessFields to accountAcessInputs:focus these selectors work to style the input fields of the initial login and account creation form */
#accessFields{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-bottom: 5px;
}

.accountAccessInputs{
	text-align: center;
	font-size: 25px;
	margin: 5px 0;
	padding: 5px;
	border: solid 1px #fff;
	box-shadow: inset 0px 2px 2px 1px #707070;
	margin-top: 3px;
	border-radius: 10px;
	outline:none;
	width:250px;
	transition: box-shadow 0.3s;

}

.accountAccessInputs:focus{
	box-shadow: inset 0px 2px 2px 1px #c9c9c9;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:rgb(119,119,119);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:rgb(119,119,119);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:rgb(119,119,119);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:rgb(119,119,119);
}

/* from normalButton to the hover psuedo elements these selectors target the buttons which allow the user to traverse through the quiz and access their scores */
.normalButton{
	border-radius: 10%;
	font-size: 30px;
	padding: 10px;
	cursor: default;
	background-color: rgba(255, 199, 42, 0.70);
	-webkit-transition: 0.5s 0s;
}

#actionButtons{
	display:flex;
	flex-direction:row;
	margin: .5em 0 0 0;
	
}

#actionButtons :first-child {
	margin-right: 0.5em;
}

#accessScoresButton, #nextQButton{
	background-color:rgba(255, 111, 42, 0.7);
}

.normalButton:hover, #accessScoresButton:hover, #nextQButton:hover{
	background-color:rgba(232, 0, 0, 0.72);
	font-size: 35px;
}

/* label and input seletors are assigning the styles for the quiz questions */
label{
	font-size: 1.5em;
}

input[type="radio"]{
	vertical-align: middle;
}

/* errorElement and errorElementWidth assign the styles for all error elements from inital login/account creation to interacting wth the quiz */
.errorElement{
	font-size: 18px;
	width:250px;
	text-align: center;
	font-style: italic;
	padding:1% 1% 1% 1%;
	border-radius: 5px;
	animation: glow 4s ease;
	animation-iteration-count: 2;
	animation-fill-mode:forwards;
	animation-direction: normal;
	background-color: rgba(255, 181, 46, 0.28);
	color: #754C00;
	box-shadow: 0 0 10px 5px rgba(255, 181, 46, 0.28);
}

.errorElementWidth{
	width:50%;
}

@keyframes glow {
	0% 100%{
		background-color:rgba(255, 192, 78, 0.28);
		color: #AF700A;
		box-shadow: 0 0 5px 5px rgba(255, 192, 78, 0.28);
	}

	50%{
		background-color:rgba(255, 180, 45, 0.41);
		color:#905A01;
		box-shadow: 0 0 5px 5px rgba(255, 180, 45, 0.41);
	}

}

/* scoreTable and the subsequent table elements style the table with the score associated to the user */
#scoreTable{
	width:40%;
}


table{
	width:100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    color:#024457;
    border-collapse: collapse;

}

th{
	padding: 1em;
	background-color: #167F92;
	color:#FFF;
	font-weight: bold;
}


th:last-child{
	border-left: 1px solid #FFF;
}

th,td {
	text-align: center;
	margin: .5em 1em;
}

table tr:nth-child(even){
	background-color: #FFF;
}

table tr:nth-child(odd){
	background-color: #EAF3F3;
}

tr:first-child th:first-child{ 
	border-top-left-radius: 10px; 
}
tr:first-child th:last-child{ 
	border-top-right-radius: 10px;
}
tr:last-child td:first-child{ 
	border-bottom-left-radius: 10px;
}
tr:last-child td:last-child{ 
	border-bottom-right-radius: 10px; 
}

