body{
	background-image: url("restaurant_icons.png");
}

.content{
	margin: 12% 0 0 0 ;
	display:flex;
	flex-direction:column;
	align-items:center;
	font-family: Lato;
}

h1{
	margin: 0 15% 1% 15%;

}

#buttons{
	display:flex;
	flex-direction:row;
	
}

#buttons :first-child {
	margin-right: 0.5em;
}

#createAccount{
	border-style: solid;
	border-color: rgba(255, 61, 31, 0.52);
	background-color: rgba(255, 61, 31, 0.60);
	padding: 10px;
	display:inline-block;
	border-radius: 10%;
	cursor: default;

}


#accessFields{
	display:flex;
	flex-direction: column ;
	width:250px;
}

.accountAccessFields{
	text-align: center;
	font-size: 25px;
	color:black;
}

#login{
	border-style: solid;
	border-color: rgba(0, 102, 255, 0.52);
	background-color: #4d90fe;;
	margin-left: 8px;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 10%;
	cursor: default;

}

#login:hover{
	border-color: rgba(57, 212, 47, 0.82);
	background-color: rgba(57, 212, 47, 0.62);
	font-size: 20px;
	-webkit-transition: 0.5s 0s;
}

#createAccount:hover{
	border-color: rgba(255, 41, 159, 0.8);
	background-color: rgba(255, 41, 159, 0.6);
	font-size: 20px;
	-webkit-transition: 0.5s 0s;
}
#getStartedButton, .nextButton{
	border-style: solid;
	border-color:#FFD58A;
	border-radius: 10%;
	border-width: 3px;
	font-size: 30px;
	padding: 5px 5px;
	cursor: default;
	background-color: rgba(255, 199, 42, 0.54);
	margin: 10% 0 0 0;
	-webkit-transition: 0.5s 0s;
}



.nextButton:hover, #getStartedButton:hover{
	background-color:rgba(232, 0, 0, 0.72);
	border-color: rgba(232, 0, 0, 0.72);
	font-size: 35px;
}

input{
	margin-right: 10px;
}

label{
	font-size: 1.5em;
}

.quiz-response{
	font-size: 2em;
	font-style: italic;
}

#checkValidation{
	font-size: 22px;
	font-style: italic;
	padding:1% 1% 1% 1%;
	border-radius: 5px;
	animation: glow 4s ease;
	animation-iteration-count: 2;
	animation-fill-mode:forwards;
	animation-direction: normal;
	background-color: rgba(255, 181, 46, 0.28);
	color: #754C00;
	box-shadow: 0 0 10px 5px rgba(255, 181, 46, 0.28);
}

@keyframes glow {
	0% 100%{
		background-color:rgba(255, 192, 78, 0.28);
		color: #AF700A;
		box-shadow: 0 0 5px 5px rgba(255, 192, 78, 0.28);
	}

	50%{
		background-color:rgba(255, 180, 45, 0.41);
		color:#905A01;
		box-shadow: 0 0 5px 5px rgba(255, 180, 45, 0.41);
	}

}

