body{
	background-image: url("restaurant_icons.png");
}

.content{
	margin: 12% 0 0 0 ;
	display:flex;
	flex-direction:column;
	align-items:center;
	font-family: Lato;
}

h1{
	margin: 0 15% 1% 15%;
	border-radius: 10%;

}

#getStartedButton, .nextButton{
	border-style: solid;
	border-color:#FFD58A;
	border-radius: 10%;
	border-width: 3px;
	font-size: 30px;
	padding: 5px 10px 5px 10px;
	cursor: default;
	background-color: rgba(255, 199, 42, 0.54);
	margin: 2% 0 0 0;
	-webkit-transition: 0.5s 0s;
}



.nextButton:hover, #getStartedButton:hover{
	background-color:rgba(232, 0, 0, 0.72);
}

input{
	margin-right: 10px;
}

label{
	font-size: 1.5em;
}

.quiz-response{
	font-size: 2em;
	font-style: italic;
}

#checkValidation{
	font-size: 22px;
	font-style: italic;
	padding:1% 1% 1% 1%;
	border-radius: 5px;
	animation: glow 4s ease;
	animation-iteration-count: 2;
	animation-fill-mode:forwards;
	animation-direction: normal;
	background-color: rgba(255, 181, 46, 0.28);
	color: #754C00;
	box-shadow: 0 0 10px 5px rgba(255, 181, 46, 0.28);
}

@keyframes glow {
	0% 100%{
		background-color:rgba(255, 192, 78, 0.28);
		color: #AF700A;
		box-shadow: 0 0 5px 5px rgba(255, 192, 78, 0.28);
	}

	50%{
		background-color:rgba(255, 180, 45, 0.41);
		color:#905A01;
		box-shadow: 0 0 5px 5px rgba(255, 180, 45, 0.41);
	}

}

